<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-content>
            <div>
                Description
            </div>
            <ion-item>
                <ion-label>Input</ion-label>
                <ion-input type="text" [(ngModel)]="test1"></ion-input>
            </ion-item>

            <ion-item>
                <button ion-button icon-left clear item-left (click)="runTest1()">
                    <ion-icon name="arrow-forward"></ion-icon>
                    Run
                </button>
            </ion-item>

            <ion-item *ngIf="answer1">
                Answer: {{answer1}}
            </ion-item>
        </ion-card-content>
    </ion-card>

    <ion-card *ngIf="answer1">
        <ion-card-content>
           <ace-editor
            #editor
            [text]="code"
            [mode]="'javascript'"
            [theme]="'monokai'"
            [options]="options"
            [readOnly]="true"
            style="min-height: 400px; width:100%; overflow: auto;"></ace-editor>
        </ion-card-content>
    </ion-card>
</ion-content>
